# Docker Compose 配置文件
# 由 Docker Run 到 Docker Compose 转换器生成

version: '3.9'
services:
  mysql:
    image: mysql:8
    container_name: mysql
    ports:
    - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: secret
    volumes:
    - mysql_data:/var/lib/mysql
  app:
    image: node:14
    container_name: app
    ports:
    - 3000:3000
    environment:
      NODE_ENV: prod
    volumes:
    - ./app:/app
    links:
    - mysql:db
